/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.DS_STORE
/docker_example
package.json
package.lock.json
/inferno/build
/inferno/node_modules
/inferno/package.json
/inferno/package-lock.json